<div class='container'>
  <nav class="navbar navbar-header">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Best Rent</a>
      </div>
      <ul class="nav navbar-nav">

        <li><a routerLink="/register"><span class="glyphicon glyphicon-user"></span>Register</a></li>
        <li><a routerLink="/login"><span class="glyphicon glyphicon-log-in" ></span> Login</a></li>
        
        <li><a routerLink="/home"><span ></span> Home Page</a></li>
        <li><a routerLink="/catalog"><span ></span>  Cars Catalog</a></li>
        <li><a href="#"><span ></span> User Name:</a></li>
      </ul>
    
    </div>
    <div>
  
