<div class='container'>
  <nav class="navbar navbar-header">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Best Rent</a>
      </div>
      <ul class="nav navbar-nav">
        <!------------------------------------------->
        <li *ngIf="data.RegiserUser.Role=='customer'||data.RegiserUser.Role=='Guest'" ><a routerLink="/register"><span class="glyphicon glyphicon-user"></span>Register</a></li>
        <li *ngIf="data.RegiserUser.Role=='worker'" ><a routerLink="/returncar"><span class="glyphicon glyphicon-user"></span>Return Car</a></li>
      
        
        <!------------------------------------------->
        <li *ngIf="data.RegiserUser.Role=='customer'||data.RegiserUser.Role=='Guest'" ><a routerLink="/login"><span class="glyphicon glyphicon-log-in" ></span> Login</a></li>
        <li *ngIf="data.RegiserUser.Role=='worker'||data.RegiserUser.Role=='manager'" ><a routerLink="/home"><span class="glyphicon glyphicon-log-out" ></span> Logout</a></li>
        <!------------------------------------------->

        <li><a routerLink="/home"><span >Home Page</span> </a></li>
        <li *ngIf="data.RegiserUser.Role=='customer'||data.RegiserUser.Role=='Guest'" ><a routerLink="/catalog" (click)="resetcatalog()" ><span >Cars Catalog</span>  </a></li>
        <li class='hello'> Hello {{data.RegiserUser.FullName}}&nbsp; {{data.RegiserUser.Role}}</li>
        <li *ngIf="data.RegiserUser.FullName!='Guest'"><a routerLink="/orderlist"  ><span >My Orders</span>  </a></li>
      </ul>
    </div>

    <nav *ngIf="data.RegiserUser.Role=='manager'" class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" >Manager Settings</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li *ngIf="data.RegiserUser.Role=='manager'" ><a routerLink="/usersmanagement"><span class="glyphicon glyphicon-user"></span>Users</a></li>
            <li><a routerLink="/carsinventory"><span class="glyphicon glyphicon-edit"></span>Cars Inventory</a></li>
            <li><a routerLink="/carstypes"><span class="glyphicon glyphicon-ok"></span>Cars Types</a></li>
            <li><a routerLink="/carsorderslist"><span class="glyphicon glyphicon-list-alt"></span>Cars Orders</a></li>
           
          </ul>
        </div>
      </nav>

    <div>
  
