              <div class='container'>
              <div class="row">
        
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Car Details</th>
                  </tr>
                </thead>
                <tbody>
                  <tr> <td><span>Manufacturer:&nbsp;</span>  {{data.AgencyInfo.currentCarOrder?.Manufacturer}}</td></tr>
                  <tr> <td><span>Model:&nbsp;</span>{{data.AgencyInfo.currentCarOrder?.Model}}</td></tr>
                  <tr> <td><span>Price Per Day:&nbsp;</span>{{data.AgencyInfo.currentCarOrder?.PricePerDay}}</td></tr>
                  <tr> <td><span>Price Per Day Late:&nbsp;</span>{{data.AgencyInfo.currentCarOrder?.PricePerDayLate}}</td></tr>
                 
                </tbody>
              </table>
            </div>


              </div>
              <div class='row'>
                  <div class="orderstatus">
                    <div class="container">
                      <h3 class="{{data.OrderStaus.class}}">{{data.OrderStaus.message}}</h3>
                    </div>
                  </div>
              </div>



              <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <div class="jumbotron">
                    <div class="btn-group-vertical">
                        <button class="{{data.OrderStaus.btnclass}}" (click)="postorder()" >Order This Car</button>
                        <br/>
                        <a  routerLink="/catalog" (click)="backtolist()" class="btn btn-primary">Back to Cars list</a>
                      </div>
                    </div> 
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <div class="jumbotron">
                        <div class="container">
                          <h4>Order Price</h4>
                          <div>{{data.AgencyInfo.currentCarOrderPrice| currency:'ILS'}}</div>
                        </div>
                      </div>
                </div>

                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <form>
                    <div class="form-group">
                      <label for="formGroupExampleInput">Rent Start Date</label>
                      <input type="date" class="form-control" [(ngModel)]="data.AgencyInfo.currentCarOrderStartDate" name="startdate" >
                    </div>
                    <div class="form-group">
                      <label for="formGroupExampleInput2">Rent End Date</label> 
                      <input type="date" class="form-control" [(ngModel)]="data.AgencyInfo.currentCarOrderEndDate" name="enddate" >
                    </div>

                    
                    <button type="button" class="btn btn-large btn-block btn-primary" (click)="data.calculatePrice()"> Show Price</button>
                   
                  </form>
                </div>
              </div>


            </div>
    
            




