

    <div  *ngIf="!data.isPreview" class="panel panel-default" role="button">
        <a routerLink="/carpreview/{{car.CarID}}" (click)="displaypreview()" class='preview' > Preview</a>
        <h3 class="panel-heading">{{car?.Manufacturer}}</h3>
        <div class="panel-body">
            <h3 class="panel-heading">{{car?.Model}}</h3>
            <img   [src]="car?.Picture"  alt="Responsive image">
        </div>
      </div>


<div *ngIf="data.isPreview" class='container'>
  <div class='row'>

<div class="col-xs-8 col-xs-offset-2 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
      <div  *ngIf="data.isPreview" >
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <img   class='displayimage'  [src]="data.AgencyInfo.currentCarOrder.Picture"  alt="Responsive image">
                <br/>
              <div   class="btn-group-vertical">
                  <a  *ngIf="data.AgencyInfo.RegisterUser.Role!='Guest'" routerLink="/order/{{data.AgencyInfo.currentCarOrder.CarID}}"  role="button" class='btn btn-primary' >Order and price</a>
                  <a *ngIf="data.isPreview" routerLink="/catalog" (click)="backtolist()" class="btn btn-info">Back to Cars list</a>
                 
                </div>
                 <br>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Car Details</th>
                  </tr>
                </thead>
                <tbody>
                  <tr> <td><span>Manufacturer:&nbsp;</span>  {{data.AgencyInfo.currentCarOrder?.Manufacturer}}</td></tr>
                  <tr> <td><span>Model:&nbsp;</span>{{data.AgencyInfo.currentCarOrder.Model}}</td></tr>
                  <tr> <td><span>Price Per Day:&nbsp;</span>{{data.AgencyInfo.currentCarOrder.PricePerDay}}</td></tr>
                  <tr> <td><span>Price Per Day Late:&nbsp;</span>{{data.AgencyInfo.currentCarOrder.PricePerDayLate}}</td></tr>
                  <tr> <td><span>Year:&nbsp;</span>{{data.AgencyInfo.currentCarOrder.Year}}</td></tr>
                  <tr> <td><span>Gear:&nbsp;</span>{{data.AgencyInfo.currentCarOrder.Gear}}</td></tr>
                  <tr> <td><span>Branch Location:&nbsp;</span>{{data.AgencyInfo.currentCarOrder.BranchLocation}}</td></tr>
                </tbody>
              </table>
            </div>
          </div>
</div>
</div>
</div>
</div>

