<div class='container'>
<div class='row'>

  <form>
    <div class="form-group navbar-form navbar-left" role="search" >
        <label for="sel1">Filter List: </label>
        <select #selectElem (change)="setSearchText(selectElem.value)" class="form-control">
            <option *ngFor="let option of optionList" [value]="option">
                {{option}}
            </option>
        </select>
        <input type="text" [(ngModel)]="searchValue" name="search" class="form-control"  placeholder="Enter Your Search" required>
         <button class='btn btn-info' (click)=search()>Search</button>
      </div>
    </form>

</div>


<div class='row'>
<div *ngFor="let data of data.filterCarCollection">
<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
  
    <app-car-preview [car]="data"></app-car-preview>
</div>
  </div>
  </div>


</div>


