
<div class="container">
  



  <!--   <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate> -->
    <form  (ngSubmit)="onSubmit()" #registerForm="ngForm" >
    <div class="form-group">
      <label for="nameid">Full Name</label>
      <input type="text" [(ngModel)]="data.AgencyInfo.RegisterUser.FullName" name="fullname" class="form-control" id="nameid" placeholder="Full Name" required>

   
      <label for="idnum">ID Number</label>
      <input type="text" [(ngModel)]="data.AgencyInfo.RegisterUser.IdNum" class="form-control" id="idnum" name="idnum" placeholder="ID Number" required>


        <label for="userid">User Name</label>
        <input type="text"  [(ngModel)]="data.AgencyInfo.RegisterUser.UserName" class="form-control" name="username" id="userid" placeholder="User Name" required>


          <label for="birthdateid">Birth Date</label>
          <input type="date"  [(ngModel)]="data.AgencyInfo.RegisterUser.BirthDate"  class="form-control" id="birthdateid" name="birthdate" >

          <label>Gender</label>
          <div class="form-group">
            
                  <label>
                      <input type="radio" name="Gender" value="1" [(ngModel)]="data.AgencyInfo.RegisterUser.Gender" required >
                      Male  &nbsp;
                  </label>
                  <label>
                      <input type="radio" name="Gender" value="2" [(ngModel)]="data.AgencyInfo.RegisterUser.Gender">
                    Female
                  </label>
          </div>
          <label for="emailid">Email</label>
          <input type="email" [(ngModel)]="data.AgencyInfo.RegisterUser.Email" class="form-control" id="emailid" placeholder="Email" name="email" required>
          <label for="passwordid">Password</label>
          <input type="password"  [(ngModel)]="data.AgencyInfo.RegisterUser.Password" class="form-control" id="passwordid" name="password" required>
              <button type="submit"  [disabled]="!registerForm.form.valid">Submit</button>
              </div>
  </form>
</div>  